# Linear Regression - Multiple Variables 

*y = m1 * x + m2 * y + .... + b*

price = m1 * area + m2 * bedroom + m3 * age + b 

b - Intercept

In [4]:
import pandas as pd
from sklearn import linear_model
import numpy as np

house_df = pd.DataFrame({
    'Area' : [2600, 3000, 3200, 3600, 4000],
    'Bedrooms' : [3, 4, False, 3, 5],
    'Age' : [20, 15, 18, 30, 8],
    'Price': [550000, 565000, 610000, 595000, 760000]
})

print (house_df)

   Area Bedrooms  Age   Price
0  2600        3   20  550000
1  3000        4   15  565000
2  3200    False   18  610000
3  3600        3   30  595000
4  4000        5    8  760000

In [9]:
# Handle the NaN
median_bedroom = house_df.Bedrooms.median()
house_df.replace(False, median_bedroom)

   Area  Bedrooms  Age   Price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [11]:
reg = linear_model.LinearRegression()
reg.fit(house_df[['Area', 'Bedrooms', 'Age']], house_df.Price)
reg.coef_

array([  120.07395326, -1761.98163423, -4850.61775289])

In [12]:
reg.predict([[3000, 3, 40]])

array([476635.82607446])